@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /*Imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;600&family=Oswald:wght@300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
   padding-left: 14em;
		  color: black;
    background-color: #FAF9F6 } /*Off-white*/
	 ul.navbar {
    position: absolute;
    list-style-type: none;
    padding-top: 5em;
    margin: 0;
    left: 1em;
    width: 11.5em }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: black }
	address {
    margin-top: 5em;
    padding-top: 1em;
    border-top: thin dotted }

.navbar {
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

    .navbar a {
      float: left;
      color: #000000; /*Black*/
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      opacity: 1;
      transition: 0.3s;
      font-size:125%;
      width: 11.5em;
    }

    a:hover {
      background-color: #27445C; /*Navy*/
      color: white;
    }

h1 { /*header banner*/
    font-family: 'Akshar', sans-serif;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: #27445C; /*Navy*/
    height: auto;
    padding-top: 40px;
    padding-bottom: 2em;
    text-align: center;
    color: #fff;
}

body {
    margin-top: 190px;
}

p {
    font-family: 'Akshar', sans-serif;
}

footer { /*footer banner*/
    font-family: 'Akshar', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #27445C; /*Navy*/
    height: auto;
    padding-top: 40px;
    padding-bottom: 2em;
    text-align: center;
    color: #fff;
}
